<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="class">
        <h1>Calculate Average Marks</h1>

        <form action="{{url_for('form')}}" method="post">
            <input type="text" name="maths" placeholder="maths" required/>
            <input type="text" name="science" placeholder="science" required/>
            <input type="text" name="history" placeholder="history" required/>

            <button type="submit">Calculate</button>
        </form>
    </div>

    <br>
    The average marks is {{score}}  
    <!-- {{score}} is printing with technique called jinja2engine -->
</body>
</html>